
.catalog-container{
  padding: 8px;
  margin-top: 48px;
}
.catalog{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:24px;
}

.catalog div {
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 2px;
}

.catalog div:hover{
  border: 2px solid gray;
  box-shadow: 2px 4px #888888;
}

.catalog div img{
  width: 100%;
  border-radius: 10px;
}

.catalog h3, p{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width:500px){
  .catalog{
    display: flex;
    flex-direction: column;
  }

  .catalog h3, p{
    color: blue;
  }
}

.message-error{
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear .5s;
}

.active{
  opacity: 1;
  border-color: red;
}
