.header-mystore{
  width: 100vw;
  background-color: #3f51b5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
  left: 0;
	top: 0;
	position: fixed;
}

.header-mystore-title{
  display: flex;
  flex-direction: row;
  align-items:baseline;
  width: 200px;
}

.header-mystore-title .logo-text{
  width: 100px;
  font-family: 'Roboto', sans-serif;
  color: #fff7f7;
  font-size: 22px;
  font-weight: 500;
}

.header-mystore-title .logotipo-mystore{
  height: 28px;
}

.nav-anchors{
  margin-right: 16px;
  display:flex;
  align-items: center;
}

.nav-anchors a{
  margin-right: 8px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #fff7f7;
}
